@if (error) {
    <div class="modal-header modalError">
        <h4 class="text-light">Error</h4>
    </div>
} @else {
    <div class="modal-header modalAviso">
        <h4 class="text-light">Atención</h4>
    </div>
}  
<div class="modal-body">
    <form>
        <p>{{mensaje}}</p>
        <button class="btn btn-primary mt-2" (click)="modalRef?.hide()">Aceptar</button>
    </form>
<div>    