<div class="card bg-light animate__animated animate__bounceInRight mb-5">
    <img [src]="superheroe.imagen" (error)="superheroe.imagen = './../../../assets/images/imagen_no_encontrada.jpg'" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{superheroe.nombre | titlecase}}</h5>
      <p class="card-text"><span class="fw-bold">Poder:</span> {{superheroe.poder | lowercase}}</p>
      <a (click)="editar()" class="btn btn-primary me-3" id="editar"><fa-icon [icon]="faEdit"></fa-icon> Editar</a>
      <a (click)="borrar()" class="btn btn-danger" id="eliminar"><fa-icon [icon]="faTrashAlt"></fa-icon> Eliminar</a>
    </div>
</div>