.contenedor-card {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.card {
    max-width: 68rem!important;
    width: 68rem!important;
    height: 30rem!important;
    img {
        width: 30rem!important;
        height: 30rem!important;
        object-fit: cover;
    }
    form {
        padding: 2rem;
    }
}