<h2 class="text-center">CREAR SUPERHEROE</h2>
<div class="contenedor-card">
    <div class="card bg-light animate__animated animate__bounceInRight mb-5 mb-3 mt-5" style="max-width: 540px;">
        <div class="row g-0">
        <div class="col-md-5">
            <img [src]="imagenActual" class="img-fluid rounded-start">
        </div>
        <div class="col-md-7">
            <form [formGroup]="formularioHeroe">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" id="nombre" class="form-control" formControlName="nombre">
                    @if(formularioHeroe.get('nombre')?.hasError('required')) {
                        <div lass="form-text">Campo requerido</div>
                    }
                </div>
                <div class="mb-3">
                    <label for="poder" class="form-label">Poder</label>
                    <input type="text" id="poder" class="form-control" formControlName="poder">
                    @if(formularioHeroe.get('poder')?.hasError('required')) {
                        <div lass="form-text">Campo requerido</div>
                    }
                </div>
                <div class="mb-3">
                    <label for="imagen" class="form-label">URL imagen</label>
                    <input type="url" id="imagen" class="form-control" formControlName="imagen" [(ngModel)]="imagenActual">
                    @if(formularioHeroe.get('imagen')?.hasError('required')) {
                        <div lass="form-text">Campo requerido</div>
                    }
                    <a class="puntero" (click)="imagenAleatoria()">Buscar una imagen aleatoria</a>
                </div>
                @if(crear) {
                    <button type="submit" (click)="crearSuperheroe()" class="btn btn-primary me-3"><fa-icon [icon]="faFloppyDisk"></fa-icon> Crear</button>
                } @else {
                    <button type="submit" (click)="actualizarSuperheroe()" class="btn btn-primary me-3"><fa-icon [icon]="faFloppyDisk"></fa-icon> Guardar</button>
                }
                
                <button class="btn btn-danger" routerLink="/listado"><fa-icon [icon]="faXmark"></fa-icon> Cancelar</button>
              </form>
        </div>
        </div>
    </div>
</div> 