<h2 class="text-center">LISTADO DE SUPERHEROES</h2>
@if(!banderaLoading) {
  <div class="d-flex justify-content-between p-2">
      <button class="btn btn-primary btnMas" routerLink="/crear"><fa-icon [icon]="faSquarePlus"></fa-icon> Crear Nuevo<i data-feather="circle"></i></button>
      <div class="input-group buscador">
          <span>buscar</span>
          <input type="text" class="form-control" [(ngModel)]="inputBuscador">
      </div>
  </div>
}
<div class="row">
@for (mySuperheroe of (superherores | filterBy: inputBuscador).slice((paginaActual-1)*elementosPorPagina, paginaActual*elementosPorPagina); track mySuperheroe.id) {
  <div class="col-4 col-card">
    <app-card [superheroe]="mySuperheroe" (eventoEditar)="editarSuperheroe($event)" (eventoBorrar)="modalBorrar($event,template)"></app-card>
  </div>
}
</div>
@if(superherores.length == 0) {
  <p class="sinDatos">No hay datos.¿Desea <a (click)="crearDatos()" class="puntero">cargar en la API datos predefinidos</a> o <a routerLink="/crear" class="puntero">crear un nuevo superheroe</a>?</p>
} 
@if(banderaLoading) {
  <div class="text-center">
    <div class="spinner spinner-border text-primary" role="status">
      <span class="visually-hidden">Cargando...</span>
    </div>
  </div>
} @else {
  <div class="d-flex justify-content-between p-2">
    <p></p>
    <pagination [boundaryLinks]="true" [totalItems]="((superherores | filterBy: inputBuscador).length)" [itemsPerPage]="elementosPorPagina" [(ngModel)]="paginaActual" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
  </div>
}
<ng-template #template>
  <div class="modal-header modalAviso">
    <h4 class="text-light">Atención</h4>
  </div>
  <div class="modal-body">
    <p>¿Esta seguro de que quiere eliminar al superheroe {{superheroeModal.nombre | titlecase}}?</p>
    <button (click)="modalRef?.hide()" class="btn btn-primary mt-2 me-3"><fa-icon [icon]="faXmark"></fa-icon> No</button>
    <button (click)="borrarSuperheroe(); modalRef?.hide()" class="btn btn-danger mt-2"><fa-icon [icon]="faCheck"></fa-icon> Si</button>
  </div>
</ng-template>