.buscador {
    width: 300px;
    margin-bottom: 40px;
    span {
        margin-top: 5px;
        margin-right: 12px;
        font-size: 20px;
    }
}

.col-card {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.sinDatos {
    font-size: 24px;
}

.btnMas {
    height: 44px;
}

.btnMas fa-icon {
    font-size: 19px;
}
