@import "../node_modules/bootstrap/scss/bootstrap";
@import '../node_modules/animate.css/animate.min.css';
@import url('https://fonts.googleapis.com/css?family=Lobster');
.puntero {
    cursor: pointer;
}
.modalAviso {
    background-color: $warning;
}

.modalError {
    background-color: $danger;
}

h2 {
    margin-top: 84px!important;
}

.spinner {
    width: 14em;
    height: 14em;
}

a {
    color: $primary;
}